@import "~bootstrap/dist/css/bootstrap.min.css";

/* Aquí ajustes mas generales de la página*/

body {
  margin-top: 270px;
  height: 100vh;
  background-color: rgb(255, 254, 207);
}
.caja:hover {
  box-shadow: 0px 0px 5px black;
}
.caja {
  margin: 0 auto;
  width: 500px;
  height: auto;
  border-radius: 15px;
  transition: box-shadow 0.3s ease;
}

/*Aquí se encuentra las modificaciones del header de la página*/

.caja-header {
  background-color: rgb(115, 146, 17);
  border-radius: 15px;
  box-shadow: 3px 5px 5px black;
  text-shadow: 3px 5px 7px black;
  align-items: center;
  height: 100px;
  display: flex;
}
.caja-header h1 {
  width: 450px;
  font-size: 45px;
}
.caja-header img {
  box-shadow: 0 5px 3px rgba(0, 0, 0, 0.651);
  width: 50px;
  height: 50px;
}

/*Aqui se encuentran las modificaciones del Main de la Página*/

.caja-main {
  display: flex;
  flex-direction: column;
}
.caja-main #agradecimiento {
  background-color: rgb(115, 146, 17);
  box-shadow: 3px 5px 5px black;
  border-radius: 15px;
  padding: 10px;
  margin: 0 auto;
  margin-top: 20px;
  width: 250px;
}
.caja-main #agradecimiento:hover {
  cursor: default;
}
.caja-main #excusa {
  text-shadow: 3px 3px 5px rgb(4, 110, 0);
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  color: rgb(0, 0, 0);
}
.caja-main button {
  background-color: rgb(115, 146, 17);
  width: 250px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 24px;
}
.caja-main button:hover {
  background-color: orange;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/*Aqui se encuentran las modificaciones del Pie de Página*/

.caja-footer {
  background-color: rgb(115, 146, 17);
  border-radius: 15px;
  box-shadow: 0 -5px 3px rgba(0, 0, 0, 0.651);
  align-items: center;
  height: 74px;
  display: flex;
  /* margin-top: 133px; */
}
.caja-footer h3 {
  text-shadow: 3px 3px 5px black;
  width: 385px;
  font-size: 27px;
}
.caja-footer nav {
  width: 110px;
  height: auto;
}
.caja-footer a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: rgb(255, 250, 179);
}
a:hover {
  color: orange;
}
